name: Apply Terraform Code

on:
  push:
    branches:
      - main
    tags:
    - "*"

permissions:
  contents: write
  pull-requests: write

jobs:
  tf_check:
    uses: NSerbin/gh-pipelines/.github/workflows/tf-apply.yml@new-way-to-deploy
    with:
      terraform_version: 1.12.2
    secrets: inherit
