name: Checking the Plan of Terraform Code

on:
  push:
    branches:
      - "*"
    tags:
    - "*"

permissions:
  contents: write
  pull-requests: write

jobs:
  tf_init:
    uses: NSerbin/gh-pipelines/.github/workflows/tf-init.yml@new-way-to-deploy
    with:
      terraform_version: 1.13.5
    secrets: inherit
  tf_check:
    needs: tf_init  
    uses: NSerbin/gh-pipelines/.github/workflows/tf-checks.yml@new-way-to-deploy
    with:
      terraform_version: 1.13.5
    secrets: inherit
  tf_plan:
    needs: tf_check
    uses: NSerbin/gh-pipelines/.github/workflows/tf-plan.yml@new-way-to-deploy
    with:
      terraform_version: 1.13.5
    secrets: inherit
